body { 
  ont-family: 'Dongle', sans-serif;
}
#img {
  width: 400px; height: 400px;
  margin: 0 auto;
  background-image: url(./이미지/아이유.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
}
#textbox {
  width: 400px;
  text-align: center; height: 150px;
  position: absolute;
  line-height: 50px;
  margin-top: 58%;
  background-color: rgba(211, 211, 211, 0.8);
}
#wrap {
  width: 400px;
  margin: auto;
  text-align: center;
}

#join {
  width: 400px;
  
}
#logbox {
  display: block;
  margin: 10px;
}


button { 
  width: 150px;
  display: inline-block;
  padding: 10px 20px;
}