p {
  counter-increment: rint;
}

p::before {
  content: counter(rint) "."; 
  /* 컨텐츠를 생성해라 카운터로 숫자로 하나씩 표기해라
  문자를 주기위해서 큰따옴표 사용 */
}

p::after {
  content: " - "attr(data-page) " page";
}
/* P테그 뒤에 콘텐츠 attr(속성)을 불러와서 뒤에 문자열로 페이지 표시 */

p::first-letter {
  font-size: 3em;
}

/* } em은 배수, 3배수  */