* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 1000px;
  height: auto;
  margin: 50px auto;
  background-color: aliceblue;
  border: 1px solid black;
}
li {
  list-style: none;
}

form {
  background-color: white;
  text-align: center;
}

#top  {
  
}